*
  box-sizing: border-box
  font-family: Roboto
  
section 
  padding: 72px 0
.container
  max-width: 1200px
  margin: 0 auto
  padding: 0

.button
  font-family: "Hammersmith One"
  font-size: 16px
  font-weight: 400
  text-transform: uppercase
  color: $main-color
  padding: 16px
  border: 1px solid $main-color
  background: none
  cursor: pointer
  transition: 0.3s

.title
  font-family: "Playfair Display"
  font-size: 22px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1.1px
  margin-left: auto
  margin-right: auto
.subtitle
  
  margin-bottom: 70px
  font-family: "Playfair Display"
  font-size: 14px
  font-weight: 400
  letter-spacing: 1.05px
  

.description
  font-family: Roboto
  font-weight: 300
  line-height: 22px
  letter-spacing: 0.42px

a:hover, a:focus
  color: #000000
  outline: none
  text-decoration: none
button:focus
  outline: none
  text-decoration: none

#go-top
  display: none
  width: 50px
  height: 50px
  position: fixed
  bottom: 20px
  right: 5%
  z-index: 9999
  border-radius: 50%
  border: 0
  box-shadow: 0 0 30px 10px #555555
  padding: 0
  background-color: 0
  opacity: 0.25
  transform: 0.4s
  & i
    font-size: 34px

@media (max-width: 1200px)
  .container
    margin: 0 auto
    width: 98%
@media (max-width: 767px)
  .container
    margin: 0 auto
  .title
    width: 70%
    font-size: 20px
  .subtitle
    width: 75%
  .description
    width: 85%
    font-size: 12px
  .button
    font-size: 14px

// Hover эфекты 
@media (min-width: 1200px)
  #go-top
    display: block
  #go-top:hover
    opacity: 0.8
  .button:hover
    background: lighten($main-color, 10%)
    box-shadow: 0 0 15px 3px lighten($main-color, 10%)

  .header
    &-nav
      &__item:hover
        color: $main-color

  .button:hover
    background: $main-color
    color: $second-color-text
    transform: scale(1.01)
    border-radius: 2px
  .video
    &-key:hover
      .video-key__play
        color: $main-color
      .video-key__circle
        border: 2px solid $main-color
    .video-tag:hover
        color: $main-color
  
  .works__image:hover
    box-shadow: 0 0 15px 5px #9291918f
    border-radius: 5xp
    transform: scale(1.3)
    overflow: hidden
    z-index: 2
  
  .footer-contact__link:hover, .footer-nav__link:hover
    color: $main-color
    border-color: $main-color
    transform: scale(1.01)

  #prev-btn:hover, #next-btn:hover 
    cursor: pointer

  .slide-nav-btn:hover 
    cursor: pointer

