.feedback
  background-image: url(../img/feedback/feedback_bg.jpg)
  background-position: center bottom
  background-size: cover
  &-wrap
    text-align: center
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    position: relative
  &__tag
    display: block
    text-align: center
    color: $second-color-text
    font-size: 100px
    line-height: 22px
    font-family: "Playfair Display"
    font-weight: 400
    letter-spacing: 3px
    margin-bottom: 42px
  &__description
    display: inline-block
    margin-bottom: 50px
    color: $second-color-text
    text-align: center
    font-family: "Playfair Display"
    font-size: 16px
    font-weight: 400
    line-height: 26px
    letter-spacing: 0.4px
    width: 70%
  &__name
    display: inline-block
    margin-bottom: 13px
    color: $second-color-text
    font-family: "Roboto - Black"
    font-size: 18px
    font-weight: 400
    line-height: 22px
    text-transform: uppercase
    letter-spacing: 0.7px
    &-tag 
      display: inline-block
      margin-bottom: 45px
      font-family: Roboto
      font-size: 12px
      font-weight: 300
      color: $second-color-text
      line-height: 22px
      text-transform: uppercase
  &-photos
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    margin: 0 40px
  &__photo
    display: block
    width: 70px
    height: 70px
    align-items: center
    justify-content: center
    border-radius: 50%
    padding: 0

// Слайдер

.slide__in
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  width: 100%
#slider
  width: 100%
  position: relative
  overflow: hidden
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  text-align: center
#slidewrapper 
  position: relative
  // width: calc(100% * 5)
  transition: 1s
  transition-timing-function: cubic-bezier(.67,.01,.23,1)
#slidewrapper, #slidewrapper ul, #slidewrapper li 
  margin: 0
  padding: 0
.slide 
  width: calc(100%/5)
  list-style: none
  display: inline
  float: left
.slide-img 
  width: 100%
#prev-btn, #next-btn 
  position: absolute
  width: 50px
  height: 50px
  background-color: #fff
  border-radius: 50%
  top: calc(50% - 25px)
  text-align: center
  font-size: 28px
  & i 
    line-height: 50px
#prev-btn 
  left: 20px
#next-btn 
  right: 20px
#nav-btns 
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  width: 100%
  bottom: -40px
  padding: 0
  margin: 50px auto 0 auto 
  max-width: 600px
  text-align: center
  transition: 0.7s
.slide-nav-btn 
  user-select: none
  position: relative
  display: inline-block
  list-style: none
  // width: 50px
  // height: 50px
  // background-color: #fff
  border-radius: 50%
  margin: 15px
.slick-current .slick-center
.slider-nav .slick-list
  max-width: 600px
.slick-current img
  box-shadow: 0 0 15px 1px $main-color
  transition: 0.7s
  transform: scale(1.2)

@media (max-width: 767px)
  #prev-btn, #next-btn 
    display: none
    opacity: 0
  .feedback__description
    width: 90%
  #nav-btns
    margin: 20px auto 0 auto
  .slick-track
    display: flex
    flex-wrap: wrap
  .feedback__name-tag
    margin-bottom: 20px